@font-face {
    font-family: malibu-sunday-script;
    src: url("./fonts/Malibu_Sunday/Malibu Sunday Script.otf") format("opentype");;
    font-style: normal;
}

@font-face {
    font-family: malibu-sunday-serif;
    src: url("./fonts/Malibu_Sunday/Malibu Sunday Serif.otf") format("opentype");;
    font-style: oblique;
}

@font-face {
    font-family: behind-the-nineties;
    src: url("./fonts/behind-the-nineties-90s-80s-perfectly-retro-2024-12-16-06-34-55-utc/OTF/UPRIGHT/Behind-The-Nineties-Xbd.otf") format("opentype");;
    font-weight: bolder;
}

@font-face {
    font-family: behind-the-nineties;
    src: url("./fonts/behind-the-nineties-90s-80s-perfectly-retro-2024-12-16-06-34-55-utc/OTF/ITALIC/Behind-The-Nineties-Xbd-It.otf") format("opentype");;
    font-weight: bolder;
    font-style: italic;
}

@font-face {
    font-family: behind-the-nineties;
    src: url("./fonts/behind-the-nineties-90s-80s-perfectly-retro-2024-12-16-06-34-55-utc/OTF/UPRIGHT/Behind-The-Nineties-Blk.otf") format("opentype");;
    font-weight:800;
}

@font-face {
    font-family: behind-the-nineties;
    src: url("./fonts/behind-the-nineties-90s-80s-perfectly-retro-2024-12-16-06-34-55-utc/OTF/ITALIC/Behind-The-Nineties-Blk-It.otf") format("opentype");;
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: behind-the-nineties;
    src: url("./fonts/behind-the-nineties-90s-80s-perfectly-retro-2024-12-16-06-34-55-utc/OTF/UPRIGHT/Behind-The-Nineties-Bd.otf") format("opentype");;
    font-weight: 700;
}

@font-face {
    font-family: behind-the-nineties;
    src: url("./fonts/behind-the-nineties-90s-80s-perfectly-retro-2024-12-16-06-34-55-utc/OTF/ITALIC/Behind-The-Nineties-Bd-It.otf") format("opentype");;
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: behind-the-nineties;
    src: url("./fonts/behind-the-nineties-90s-80s-perfectly-retro-2024-12-16-06-34-55-utc/OTF/UPRIGHT/Behind-The-Nineties-Smbd.otf") format("opentype");;
    font-weight:600;
}

@font-face {
    font-family: behind-the-nineties;
    src: url("./fonts/behind-the-nineties-90s-80s-perfectly-retro-2024-12-16-06-34-55-utc/OTF/ITALIC/Behind-The-Nineties-Smbd-It.otf") format("opentype");;
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: behind-the-nineties;
    src: url("./fonts/behind-the-nineties-90s-80s-perfectly-retro-2024-12-16-06-34-55-utc/OTF/UPRIGHT/Behind-The-Nineties-Md.otf") format("opentype");;
    font-weight: 500;
}

@font-face {
    font-family: behind-the-nineties;
    src: url("./fonts/behind-the-nineties-90s-80s-perfectly-retro-2024-12-16-06-34-55-utc/OTF/ITALIC/Behind-The-Nineties-Md-It.otf") format("opentype");;
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: behind-the-nineties;
    src: url("./fonts/behind-the-nineties-90s-80s-perfectly-retro-2024-12-16-06-34-55-utc/OTF/UPRIGHT/Behind-The-Nineties-Rg.otf") format("opentype");;
    font-weight: normal;
}

@font-face {
    font-family: behind-the-nineties;
    src: url("./fonts/behind-the-nineties-90s-80s-perfectly-retro-2024-12-16-06-34-55-utc/OTF/ITALIC/Behind-The-Nineties-It.otf") format("opentype");;
    font-weight: normal;
    font-style: italic;
}

@font-face{
    font-family: Aloevera-display;
    src: url("./fonts/Aloevera display/Aloevera display/OTF/AloeveraDisplay-Regular.otf") format("opentype");
    font-weight: normal;
}

@font-face{
    font-family: Aloevera-display;
    src: url("./fonts/Aloevera display/Aloevera display italic/OTF/AloeveraDisplay-RegularItalic.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
}

@font-face{
    font-family: Aloevera-display;
    src: url("./fonts/Aloevera display/Aloevera display/OTF/AloeveraDisplay-Bold.otf") format("opentype");
    font-weight: bold;
}

@font-face{
    font-family: Aloevera-display;
    src: url("./fonts/Aloevera display/Aloevera display italic/OTF/AloeveraDisplay-BoldItalic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}

@font-face{
    font-family: Aloevera-display;
    src: url("./fonts/Aloevera display/Aloevera display/OTF/AloeveraDisplay-Thin.otf") format("opentype");
    font-weight: 100;
}

@font-face{
    font-family: Aloevera-display;
    src: url("./fonts/Aloevera display/Aloevera display italic/OTF/AloeveraDisplay-ThinItalic.otf") format("opentype");
    font-weight: 100;
    font-style: italic;
}

@font-face{
    font-family: Aloevera-display;
    src: url("./fonts/Aloevera display/Aloevera display/OTF/AloeveraDisplay-SemiBold.otf") format("opentype");
    font-weight: 600;
}

@font-face{
    font-family: Aloevera-display;
    src: url("./fonts/Aloevera display/Aloevera display italic/OTF/AloeveraDisplay-SemiBoldItalic.otf") format("opentype");
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: Aloevera-display;
    src: url("./fonts/Aloevera display/Aloevera display/OTF/AloeveraDisplay-Black.otf") format("opentype");
    font-weight: 900;
}

@font-face{
    font-family: Aloevera-display;
    src: url("./fonts/Aloevera display/Aloevera display italic/OTF/AloeveraDisplay-BlackItalic.otf") format("opentype");
    font-weight: 900;
    font-style: italic;
}

@font-face{
    font-family: Aloevera-display;
    src: url("./fonts/Aloevera display/Aloevera display/OTF/AloeveraDisplay-Medium.otf") format("opentype");
    font-weight: 500;
}

@font-face{
    font-family: Aloevera-display;
    src: url("./fonts/Aloevera display/Aloevera display italic/OTF/AloeveraDisplay-MediumItalic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: Aloevera-display;
    src: url("./fonts/Aloevera display/Aloevera display/OTF/AloeveraDisplay-Regular.otf") format("opentype");
    font-weight: 400;
}

@font-face{
    font-family: Aloevera-display;
    src: url("./fonts/Aloevera display/Aloevera display italic/OTF/AloeveraDisplay-RegularItalic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: Aloevera-display;
    src: url("./fonts/Aloevera display/Aloevera display/OTF/AloeveraDisplay-Light.otf") format("opentype");
    font-weight: 300;
}

@font-face{
    font-family: Aloevera-display;
    src: url("./fonts/Aloevera display/Aloevera display italic/OTF/AloeveraDisplay-LightItalic.otf") format("opentype");
    font-weight: 300;
    font-style: italic;
}